*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* ----------------------------------- HEADER STYLING ------------------------------------ */

header{
    background-color: #F75840;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 15%;
    height: 450px;
}

 /* --------- NAV STYLING ---------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}

nav span{
    font-size: 24px;
    font-weight: 700;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

 /* ----------------------------------- HERO STYLING ------------------------------------ */

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.text-and-cta{
    display: inline-flex;
    flex-direction: column;
    flex:1;
    width: 50%;
    gap: 8px;
}

.text-and-cta h1{
    font-size: 36px;
    font-weight: 900;
}

.text-and-cta p{
    font-size: 16px;
}

.text-and-cta button{
    background: #E62E48;
    color: #fff;
    outline: 2px solid #fff;
    border: none;
    width: 100px;
    padding: 10px 24px;
    border-radius: 14px;
    margin-top: 14px;
    cursor: pointer;
    font-weight: 700;
}

.hero-image{
    display:inline-flex;
    width: 50%;
    height: 280px;
}

.hero-image img{
    border-radius: 24px;
    width: 100%;
    height: 100%;
}

 /* -------------------------------c- RANDOM INFO SECTION STYLING -------------------------- */
#random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 80px;
    gap: 42px;
}

.info-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.info-cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
}

.info-cards .card img{
    border-radius: 16px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

 /* -------------------------------- QUOTES SECTION STYLING -------------------------- */
#quote{
    background-color: #edeef0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 80px 20%;
}

#quote p{
    font-size: 24px;
    font-style: italic;
    color: #F75840;
}

 /* -------------------------------- CTA SECTION STYLING -------------------------- */
#cta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.cta-container{
    background-color: #F75840;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    height: 200px;
    border-radius: 24px;
}

.cta-container h3{
    font-size: 24px;
    font-weight: 700;
}

.cta-container p{
    font-size: 16px;
}

.cta-container button{
    background: transparent;
    color: #fff;
    outline: 2px solid #fff;
    border: none;
    width: 150px;
    padding: 10px 24px;
    border-radius: 14px;
    margin-top: 14px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}
